%h2 Resend confirmation instructions
.my-form
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: :form }) do |f|
    = devise_error_messages!
    .field.form-group
      = f.label :email
      = f.email_field :email, autofocus: true, :class => "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
    .actions
      = f.submit "Resend confirmation instructions", :class => "my-submit"
= render "devise/shared/links"
