%p
  %blockquote.comment
    %em= comment.body
    %footer= "#{ comment.commenter } commented at #{ comment.updated_at.to_s }"
- if can? :destroy, comment
  %p= link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: {confirm: 'Are you sure?'}
