.my-form
  = form_for article, :html => { :multipart => true } do |f|
    - if article.errors.any?
      #error_explanation.alert
        %button.close{ "data-dismiss" => "alert"} x
        %h2
          = pluralize(article.errors.count, "error")
          prohibited this article from being saved:
        %ul
          - article.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      %p
        = f.label :title
        = f.text_field :title, :class => "form-control input-lg"
    .form-group
      %p
        = f.label :banner
        = f.file_field :banner
    .form-group
      %p
        = f.label :text
        = f.text_area :text, :class => "form-control input-sm", :rows => "8"
    .form-group
      %p
        = f.label :tags
        = f.text_field :tag_list, :class => "form-control input-sm"
    %p
      = f.submit nil, :class => "my-submit"
