%table.my-table
  %tr
    %th
    %th= sort_link q, :title, {}, { :remote => true }
    %th Text
    %th= sort_link q, :created_at, { default_order: :desc }, { :remote => true }
    %th= sort_link q, :updated_at, { default_order: :desc }, { :remote => true }
    %th{ :colspan => 3 } Action

  - articles.each do |article|
    %tr
      %td= image_tag(article.banner.url(:thumb), class: 'img-rounded img-fluid media-object center-block')
      %td= article.title
      %td= article.text
      %td= article.created_at
      %td= article.updated_at
      %td= link_to 'Show', article_path(article)
      %td
        - if can? :edit, article
          = link_to 'Edit', edit_article_path(article)
      %td
        - if can? :destroy, article
          = link_to 'Destroy', article_path(article), method: :d

.text-center= will_paginate articles