.article
  = image_tag(@article.banner.url(:big), class: 'img-rounded img-fluid media-object center-block')
  %h1.heading
    = @article.title
  %p.small= "last updated: #{ @article.updated_at.to_s }"

  %p.body
    = @article.text

- if can? :edit, @article
  = link_to 'Edit', edit_article_path(@article)

%h4 Tags
= render @article.tags

%h2 Comments
= render @article.comments

%h2 Add a comment:
= render 'comments/form', :article => @article

= link_to 'Back', articles_path
