!!! html
%html
%head
  %title RailsBlog
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %nav.my-nav-bar
    .container-fluid
      .navbar-header
        = link_to image_tag("logo_resized.png", :alt => "home") , root_path, :class => "navbar-brand"
      .nav.navbar-nav.navbar-right
        .container-fluid
          - if user_signed_in?
            %p.navbar-text.small=  "Signed in as ".concat current_user.email.concat ", last login at ".concat current_user.last_sign_in_at.to_s
            = link_to 'Logout', destroy_user_session_path, method: :delete, :class => "btn btn-default navbar-btn"
  .my-container-fluid
    - flash.each do |type, msg|
      .alert{:class => "alert-#{type}"}
        = msg
        %button.close{ "data-dismiss" => "alert"} x
    = yield
